{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment_Place list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment_Place in comment_Places %}
            <tr>
                <td><a href="{{ path('comment_place_show', { 'id': comment_Place.id }) }}">{{ comment_Place.id }}</a></td>
                <td>{{ comment_Place.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comment_place_show', { 'id': comment_Place.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comment_place_edit', { 'id': comment_Place.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comment_place_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
