{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edycja miejsca</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edytuj" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('place_index') }}">Wróc do listy</a>
        </li>
        <li>
            <a href="{{ path('place_confirm', { 'id': place.id }) }}">Usuń</a>
        </li>
    </ul>
{% endblock %}
