{% extends 'base.html.twig' %}

{% block body %}
    <h1>Place list</h1>

    <table class="tabela2">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Kategoria</th>
                <th>Opis</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.name }}</td>
                <td>{{ place.category }}</td>
                <td>{{ place.description }}</td>
                <td>
                    <table>
                        <tr><td><button><a href="{{ path('place_show', { 'id': place.id }) }}">Pokaz</a></button></td></tr>
                        <tr><td><button><a href="{{ path('place_edit', { 'id': place.id }) }}">Edytuj</a></button></td></tr>
                        <tr><td><button><a href="{{ path('place_confirm', { 'id': place.id }) }}">Usuń</a></button></td></tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('place_new') }}">Stwórz nowe</a>
        </li>
    </ul>
{% endblock %}
