{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista lokali</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td><a href="{{ path('place_show', { 'id': place.id }) }}">{{ place.id }}</a></td>
                <td>{{ place.name }}</td>
                <td>{{ place.category }}</td>
                <td>{{ place.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('place_show', { 'id': place.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('place_edit', { 'id': place.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('place_new') }}">Stwórz nowy lokal</a>
        </li>
    </ul>
{% endblock %}
