{% extends 'base.html.twig' %}

{% block body %}
    <h1>Place</h1>

    <table class="tabela2">
        <tbody>
            <tr>
                <th>Nazwa</th>
                <td>{{ place.name }}</td>
            </tr>
            <tr>
                <th>Kategoria</th>
                <td>{{ place.category }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ place.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('place_index') }}">Wróc do list</a>
        </li>
        <li>
            <a href="{{ path('place_edit', { 'id': place.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
