{% extends 'base.html.twig' %}

{% block body %}
    <div id="prawy">
    <h1>Edycja wydarzeń</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edytuj" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('event_confirm', { 'id': event.id }) }}">Usuń</a>
        </li>
    </ul>
    </div>
{% endblock %}
