{% extends 'base.html.twig' %}

{% block body %}
<div id="caly_blok">
    <div id="naglowek">
        <h1><a href="{{ path('homepage') }}">Kraków- tu sie dzieje</a></h1>
    </div>
    <div id="menu">
        <ul>
            <li id="domowa-zakladka"><a href="{{ path('homepage') }}">Home</a></li>
            <li id="aktywna-zakladka"><a href="{{ path('event_index') }}">Wydarzenia</a></li>
            <li id="zakladka-miejsca"><a href="{{ path('place_index') }}">Lokale</a></li>
            <li id="zakladka-kontakt"><a href="{{ path('contact') }}">Kontakt</a></li>
        </ul>
    </div>

    <div id="blok">
        <div id="zdjecia-blok">
            <div id="zdjecia">
                <ul>
                    <li><a href="#"><img src="{{ asset('bundles/framework/images/logo_symfony.png') }}"></a> </li>
                </ul>
            </div>
        </div>
        <div id="opis"> <p>Strona w trakcie budowy. Prosimy o cierpliwość</p></div>
        <div id="lewy">
            {% for event in events %}
                <div class="wpis">
                    <h2><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a> </h2>
<a href="#" class="post-zdjecie"><img src="{{ asset('bundles/framework/images/pobrane.jpg') }}" alt="Read"/></a>
                    {% if event.date %}<div class="dataa"> {{ event.date|date('Y-m-d') }}</div>{% endif %}
                   <p>{{ event.description }}</p>

                </div>


            {% endfor %}
        </div>
        <div id="prawy">
            <p></p>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
