{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista wydarzeń</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.name }}</a></td>
                <td>{{ event.description }}</td>
                <td>{% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">Pokaz</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">Edytuj</a>
                        </li>
                        <li>
                            <a href="{{ path('event_confirm', { 'id': event.id }) }}">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Stwórz nowe</a>
        </li>
    </ul>
{% endblock %}
