{% extends 'base.html.twig' %}

{% block body %}
    <div class="brand">KRAKÓW TUTAJ SIĘ DZIEJE</div>
    <div class="address-bar">Strona autorstwa Marcina Flis</div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" href="{{ path('homepage') }}">Kraków</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('event_index') }}">Wydarzenia</a></li>
                    <li><a href="{{ path('place_index') }}">Lokale</a></li>
                    <li><a href="{{ path('contact') }}">Kontakt</a> </li>
                </ul>
                {#<ul class="nav navbar-nav navbar-right">#}
                {#<button type="button" class="btn btn-default navbar-btn">Sign in</button>#}
                {#</ul>#}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <hr>
                    <h2 class="intro-text text-center">Kraków tutaj sie dzieje
                    </h2>
                    <hr>
                </div>
                <a class="btn btn-default" href="{{ path('event_new') }}" role="button">New</a>
                {% for event in events %}
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{{ asset('bundles/framework/images/slide-1.jpg') }}" alt="">
                    <h2>{{ event.name }}
                        <br>
                        <small>October 13, 2013</small>
                    </h2>
                    <p>{{ event.description }}</p>
                    <a href="{{ path('event_show', { 'id': event.id }) }}" class="btn btn-default btn-lg">Czytaj Więcej</a>
                    <hr>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Marcin Flis</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

