{% extends 'base.html.twig' %}

{% block body %}
    <div class="brand">KRAKÓW TUTAJ SIĘ DZIEJE</div>
    <div class="address-bar">Strona autorstwa Marcina Flis</div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" href="{{ path('homepage') }}">Kraków</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('event_index') }}">Wydarzenia</a></li>
                    <li><a href="{{ path('place_index') }}">Lokale</a></li>
                    <li><a href="{{ path('contact') }}">Kontakt</a> </li>
                </ul>
                {#<ul class="nav navbar-nav navbar-right">#}
                {#<button type="button" class="btn btn-default navbar-btn">Sign in</button>#}
                {#</ul>#}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container" style="width: 75%">
        <div class="col-lg-12 text-center">
            <a class="btn btn-default" href="{{ path('event_index') }}" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true">Powrót do listy wydarzeń</span></a>
            <hr>

            <h2 class="intro-text text-center">{{ event.name }}
            </h2>
            <hr>
        </div>
    </div>
    <div class="container" style="width: 75%; margin-bottom: 100px">
        <div class="row" style="margin-left: 0px; margin-right: 0px">
            <div class="box" style="width: 100%">
                <div class="col-lg-12 text-center">
                    <h2>{% if event.date %}{{ event.date|date('d m Y') }}{% endif %}</h2>
                    <img class="img-responsive img-border img-full img-thumbnail" src="{{ asset('uploads/brochures/' ~ event.picture) }}">
                    <p> Miejsce: {{ event.place }}</p>
                    <p>Opis: {{ event.description }}</p>
                    <hr>
                    <h2>Oceny:{{ srednia }}</h2>
                    <hr>
                    {% for mark in marks %}
                        <p>ocena:{{ mark.mark }}</p>
                    {% endfor %}
                    <hr>
                    <h2>Komentarze:</h2>
                    <hr>
                    <div class="comments"  style="margin-outside: 120px">
                    {% for coment in coments %}
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">user:{{ coment.user }}</h4>
                            <p>komentarz:{{ coment.content }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    <a href="{{ path('event_edit', { 'id': event.id }) }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-edit" aria-hidden="true">Edytuj</span></a>
                    <a href="{{ path('comment_event_new', { 'id': event.id }) }}" class="btn btn-default btn-lg" target="cos" onclick="onls()"><span class="glyphicon glyphicon-comment" aria-hidden="true">Skomentuj</span></a>
                    <a href="{{ path('markevent_new', { 'id': event.id }) }}" class="btn btn-default btn-lg" target="cos2" onclick="onls2()"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">Oceń</span></a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">x</span>
            <iframe src="" name="cos" height="75%" width="100%">
            </iframe>
        </div>
    </div>
    <div id="myModal2" class="modal">
        <div class="modal-content">
            <span class="close" id="close2">x</span>
            <iframe src="" name="cos2" height="100%" width="100%">
            </iframe>
        </div>
    </div>

    <footer>
        <div class="container" style="width: 100%">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Marcin Flis</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');
        var modal2=document.getElementById('myModal2');

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var span2=document.getElementById('close2');
        function onls() {
            modal.style.display="block";
        }
        function onls2() {
            modal2.style.display="block";
        }
        span.onclick=function () {
            modal.style.display="none";
        }
        span2.onclick=function () {
            modal2.style.display="none";
        }
    </script>
{% endblock %}

