{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wydarzenie</h1>

    <table>
        <tbody>
            <tr>
                <th>Nazwa</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': event.id }) }}">Edytuj</a>
        </li>
        <li>
            <a href="{{ path('event_confirm', { 'id': event.id }) }}">Usuń</a>
        </li>
    </ul>
{% endblock %}
